<!doctype html>
<html lang="nl">
	
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Activo Event Management and Solutions - Maijla Ikiz">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Noyamirai</title>
	
	<link rel="icon" href="/public/images/icons/favicon.ico"> 
	<link href="/public/styles/style.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
</head>